#container {
    height: 800px;
    width: 800px;
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.squares {
    color: white;
    border: solid black;
    /* width: 100px; */
    /* height: 100px; */
}