#container {
    height: 800px;
    width: 800px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.squares {
    color: white;
    border: solid black;
    box-sizing: border-box;
}