#container {
    height: 800px;
    width: 800px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.squares {
    color: white;
    border: solid black;
    box-sizing: border-box;
}

/* .squares:hover {
    color: blue;
    background-color: currentColor;
} */